<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJS + Spring Data REST</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--для связки bootstrap-vue-->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!--мои стили-->
    <link rel="stylesheet" href="/main.css" />

    <!--девелоперский вуй-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--а это для аджаксов-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <!--для связки bootstrap-vue-->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

</head>
<body>
    <div class="container">

        <div class="row mt-3">
            <div class="col">
                <h3>Привет!</h3>
                <form method="post" th:action="@{/}">
                    <div class="input-group">
                        <input type="text" name="txt" class="form-control" placeholder="Type any txt...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">okay</button>
                        </div>
                    </div>
                </form>
                <p th:if="${inputted != null && !inputted.isEmpty()}">Вы ввели: "<span th:text="${inputted}">USER_TYPED</span>"</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
            <div id="vue-main-div">


                <b-table
                        id="emptable"
                        :items="userlist"
                        :fields="tableFields"
                        thead-class="thead-light"
                ></b-table>

                <b-alert v-if="userlisterror" variant="danger" show>{{userlisterror}}</b-alert>

                <div class="row">
                    <!--пэйджинг-->
                    <div class="overflow-auto col">
                        <b-pagination-nav v-on:input="loadEmployers" :link-gen="function(){return ''}" :number-of-pages="navPageCount" v-model:value="navPage"></b-pagination-nav>
                    </div>
                    <!-- выбор количества элементов на странице-->
                    <div class="col">
                        <b-form-select v-model="navPageSize" :options="navSizeOptions" v-on:input="loadEmployers"></b-form-select>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <b-button v-b-modal.modal-1>
                    Добавить сотрудника
                </b-button>


                <!-- Modal -->
                <b-modal id="modal-1" title="BootstrapVue" hide-footer>
                            <form is="b-form" @submit.prevent="submitCreateUserForm(form)" th:method="post" th:action="@{/api/employees}">

                                <input type="hidden" th:value="${_csrf.token}" ref="csrfToken">

                                <b-form-group id="input-group-1" label="Имя:" label-for="input-1">
                                    <b-form-input
                                            id="input-1"
                                            v-model="form.firstName"
                                            required
                                            placeholder="Введите имя"
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Фамилия:" label-for="input-2">
                                    <b-form-input
                                            id="input-2"
                                            v-model="form.lastName"
                                            required
                                            placeholder="Введите фамилию"
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Описание:" label-for="input-3" description="Не обязательно.">
                                    <b-form-input
                                            id="input-3"
                                            v-model="form.description"
                                            placeholder="Введите описание"
                                    ></b-form-input>
                                </b-form-group>


                                <b-button type="submit" variant="primary">Создать</b-button>
                            </form>
                </b-modal>



            </div>
            </div>
        </div>



    </div>




    <script src="/app.js"></script>
</body>
</html>
