<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VueJS + Spring Data REST</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" />

    <!--девелоперский вуй-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--а это для аджаксов-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>
<div class="container">

    <div class="row mt-3">
        <div class="col">
            <h3>Привет!</h3>
            <form method="post" th:action="@{/}">
                <div class="input-group">
                    <input type="text" name="txt" class="form-control" placeholder="Type any txt...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">okay</button>
                    </div>
                </div>
            </form>
            <p th:if="${inputted != null && !inputted.isEmpty()}">Вы ввели: "<span th:text="${inputted}">USER_TYPED</span>"</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
        <div id="vue-main-div">
            <user-table v-bind:userlist = "userlist"></user-table>
            <span v-if="userlisterror">{{userlisterror}}</span>
        </div>
        </div>
    </div>



</div>

    <script src="/app.js"></script>
</body>
</html>